[Desktop Entry]
Version=1.0
Name=FreeCAD
Comment=Feature based Parametric Modeler
Comment[de_DE]=Feature-basierter parametrischer Modellierer
Comment[fr]=Modeleur paramétrique à base de fonctions
GenericName=CAD Application
GenericName[de_DE]=CAD-Anwendung
GenericName[fr]=Application de CAO
Exec=freecad --single-instance %U
Terminal=false
Type=Application
Icon=freecad
Categories=Graphics;Science;Engineering
StartupNotify=true
MimeType=application/x-extension-fcstd
